<ion-view view-title="সকল সিম অফার">

	 <ion-nav-bar align-title="center" class="bar bar-header bar-assertive bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
         <img src="img/icon.png"
        width="50" height="50" style="max-height:38px" menu-toggle="left"/>
     </ion-nav-buttons>

    </ion-nav-bar>


<style>
	.item.item-divider p{
		text-align: center;
		font-weight: bold;
		font-size: 1.1 em;
	}
</style>

  <ion-content>

    <div class="row">
    <!-- Banglalink -->
    	<div class="col col-50">
    		<div class="card">
			  <div class="item item-image">
			    <a href="#/category/blink"><img src="img/blink.png"></a>
			  </div>
			  <div class="item item-divider">
			    <p>বাংলালিংক</p>
			  </div>
			</div>
    	</div>
    	<!-- Robi -->
    	<div class="col col-50">
    		<div class="card">
			  <div class="item item-image">
			    <a href="#/category/robi"><img src="img/robi.png"></a>
			  </div>
			  <div class="item item-divider">
			    <p>রবি</p>
			  </div>
			</div>
    	</div>
    </div>
    <div class="row">
			<!-- Teletalk -->
	    	<div class="col col-50">
	    		<div class="card">
				  <div class="item item-image">
				    <a href="#/category/teletalk"><img src="img/teletalk.jpg"></a>
				  </div>
				  <div class="item item-divider">
				    <p>টেলিটক</p>
				  </div>
				</div>
	    	</div>
    	<!-- Grameenphone -->
    	<div class="col col-50">
    		<div class="card">
			  <div class="item item-image">
			    <a href="#/category/gp"><img src="img/gp.jpg"></a>
			  </div>
			  <div class="item item-divider">
			    <p>গ্রামীণফোন</p>
			  </div>
			</div>
    	</div>
    </div>
    <div class="row">

    	<!-- Free Internet -->
    	<div class="col col-50">
    		<div class="card">
			  <div class="item item-image">
			    <a href="#/category/freeInternet"><img src="img/freeInternet.jpg"></a>
			  </div>
			  <div class="item item-divider">
			    <p>ফ্রি ইন্টারনেট</p>
			  </div>
			</div>
    	</div>

			<!-- New Handset Values  -->
			<div class="col col-50">
    		<div class="card">
			  <div class="item item-image">
			    <a href="#/category/mobileRates"><img src="img/freeInternet.jpg"></a>
			  </div>
			  <div class="item item-divider">
			    <p>New handset Values</p>
			  </div>
			</div>
    	</div>
    </div>
  </ion-content>
</ion-view>
